<!DOCTYPE html>
<html>
<head>
    <title>Group 6: Water Level Wizards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"">
    <link rel="apple-touch-icon" href="/custom_icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script type="text/javascript">
        if(("standalone" in window.navigator) && window.navigator.standalone){
            var noddy, remotes = false;
            document.addEventListener('click', function(event) {
                noddy = event.target;
                while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
                    noddy = noddy.parentNode;
                }
                if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes)){
                    event.preventDefault();
                    document.location.href = noddy.href;
                }
            },false);
        }
    </script>

    <!-- Bootstrap -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates|Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href="../static/navbar-green.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>

<body style="padding-top: 50px;font-family: 'Raleway', sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Help</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>How to submit data:</h3>
                <ul>
                    <li>Press the “submit” button on the home page or go to the “Submit a measurement” screen from the main menu.</li>
                    <li>Fill out the fields on the submit page </li>
                    <li>Station ID Number: If there’s a descriptive plaque from the CrowdHydrology plaque near the post, enter the ID from that plaque. Otherwise, leave this field blank.</li>
                    <li>Water Level: Enter the water level you see on the measuring post here, in feet.</li>
                    <li>Clarity: Pick the clarity level that best matches the conditions near the shore of your body of water. </li>
                    <li>Picture of Water Level: Select “choose file” to take a picture of the measuring post and send it in. If you can zoom in enough to read the numbers on the post, that’s helpful.</li>
                    <li>Press “submit”.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>How to view the map of measuring stations:</h3>
                <ul>
                    <li>From the main menu, select “map”. This will show you a map the CrowdHydrology measuring stations.</li>
                    <li>To check the data of a particular station, press the icon that marks its location. A bubble will pop up, giving the station number, water body, and a link that says “view data”. Press that link to view the data.</li>
                    <li>Data you enter is automatically added to the database, and will show up when you the view data shortly afterward.</li>
                 </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br>
                <table class="table-hover table">
                    <thead>
                         <tr>
                            <th>Field</th>
                            <th>Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>“Station ID”</td>
                            <td>If there’s a descriptive plaque near the post, enter the station ID from that plaque. Otherwise, leave blank.</td>
                        </tr>
                        <tr>
                            <td>“Water Level”</td>
                            <td> Enter the water level here in feet, not inches.</td>
                        </tr>
                        <tr>
                            <td>“Clarity”</td>
                            <td> Select the field that most closely matches the water clarity near the shoreline.</td>
                        </tr>
                        <tr>
                            <td>“Picture of water level”</td>
                            <td>Select “choose file” to take a picture of the measuring post and send it in. </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% extends "header.shtml" %}
